venv/
__pycache__/
*.pyc
.env
config/config.yaml
data/zeek_logs/*.log
*.pcap
.DS_Store
archive_patches/
logs/
soc-stream-processor-cluster-data/
data/*.db
data/soc_alerts.*

soc-stream-processor-cluster-data/


k8s/secrets.yaml
