kafka-python-ng==2.2.2
scikit-learn==1.5.2
numpy==1.26.4
pandas==2.2.3
joblib==1.4.2
streamlit==1.38.0
altair==5.4.1
plotly==5.24.1
rich==13.8.1
torch==2.4.1
scapy==2.6.1

fastapi==0.128.8
uvicorn[standard]==0.39.0
prometheus-client==0.26.0
prometheus-fastapi-instrumentator==7.1.0
jsonschema[format]==4.25.1
certifi==2026.7.22
psycopg2-binary==2.9.9
httpx==0.27.0
slowapi==0.1.9
pydantic==2.9.2
SQLAlchemy==2.0.35

redis==5.0.3
python-json-logger==2.0.7
idna==3.10

faust-streaming==0.11.3
psutil==6.0.0
python-dateutil==2.9.0.post0
python-jose[cryptography]==3.3.0
